<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html> -->

<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="/css/mainPage.css">
    <title>Title</title>
</head>

<body>

    <div class="main_site">
        <nav>
            <div class="navbar">
                <div class="navbar_logo">
                    <a href="/"><img src="img/LOGO(1).png" alt="LOGO_img" width="100"></a>
                </div>
                <ul class="navbar_menu">
                    <li><a href="#main_About">테이블 추가</a></li>
                    <li><a href="#main_Menu">메뉴 추가</a></li>
                    <li><a href="#main_Reservation">예약 관리</a></li>
                    <li><a href="#main_Location">고객 관리</a></li>
                </ul>
                <ul class="navbar_member" >
                    <li><a th:text="|안녕하세요! 관리자님|" >환영문구</a></li>
                    <li><a class="" th:href="@{/login/logout}" >LOG-OUT</a></li>
                </ul>
            </div>
        </nav>
    </div>



    <h1>관리자 페이지</h1>

    <div>
        <a class="" th:href="@{/admin/table}">테이블 추가</a>
    </div>
    <div>
        <a class="" th:href="@{/admin/menu}">메뉴 추가</a>
    </div>

    <div>
        <a class="" th:href="@{/admin/reservationList}">예약 현황</a>
    </div>

    <div>
        <a class="" th:href="@{/admin/customer}">고객 관리</a>
    </div> -->

<!-- </body> -->

<!-- </html> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" th="http://www.thymeleaf.org" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="/bootstrap/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
</head>

<body class="sb-nav-fixed">

    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">

        <a class="navbar-brand ps-3" th:href="@{/admin}">SWEB ADMIN</a>

        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4 nav-end">
            <li><a>안녕하세요! 관리자님 &emsp; </a></li>
            <li><a th:href="@{/login/logout}">LOG-OUT</a></li>
        </ul>
    </nav>

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <a class="nav-link" th:href="@{/admin/menu}">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            메뉴 관리
                        </a>
                        <a class="nav-link" th:href="@{/admin/reservationList}">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            예약 관리
                        </a>
                        <a class="nav-link" th:href="@{/admin/customer}">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            고객 관리
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">

            <main>

                <!-- <div class="container-fluid px-4">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            메뉴 관리
                        </div>
                        <div class="card-body">
                            <table id="datatablesSimple">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Position</th>
                                        <th>Office</th>
                                        <th>Age</th>
                                        <th>Start date</th>
                                        <th>Salary</th>
                                    </tr>
                                </thead>
                               
                                <tbody>

                                    <tr>
                                        <td>Ashton Cox</td>
                                        <td>Junior Technical Author</td>
                                        <td>San Francisco</td>
                                        <td>66</td>
                                        <td>2009/01/12</td>
                                        <td>$86,000</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="container-fluid px-4">
                    
                    <h1>예약 현황</h1>

                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            예약 관리
                        </div>

                        <form class="" th:object="${researvationSearch}">
                            <div>
                                <div class="">
                                    <input class="" placeholder="회원명" th:field="*{name}" type="text"/>
                                </div>
                                <div class="">
                                    <label></label>
                                    <input class="" id="currentDate" placeholder="날짜" th:field="${researvationSearch.date}"
                                           type="date">
                                </div>
                                <div>
                                    <select th:field="*{time}">
                                        <option value="">예약 시간</option>
                                        <option th:each="timeSlot : ${T(rest.order.reservation.DefineEnum.TimeSlot).values()}"
                                                th:text="${timeSlot.detail}" th:value="${timeSlot}"></option>
                                    </select>
                                </div>
                                <button class="" type="submit">검색</button>
                            </div>
                        </form>


                        <div class="card-body">
                            <table id="datatablesSimple">
                                <thead>
                                    <tr>
                                        <th>취소</th>
                                        <th>번호</th>
                                        <th>회원명</th>
                                        <th>날짜</th>
                                        <th>시간</th>
                                        <th>예약 인원 수</th>
                                        <th>테이블 번호</th>
                                        <th>주문 메뉴</th>
                                    </tr>
                                </thead>
                                
                                <tbody>

                                    <tr th:each="reservation : ${reservationList}">
                                        <td>
                                            <button class="deleteBtn"
                                                th:data-reservation-id="${reservation.reservationID}" type="button">
                                                삭제
                                            </button>
                                        </td>
                                        <td th:text="${reservation.reservationID}">번호</td>
                                        <td th:text="${reservation.user.name}">회원명</td>
                                        <td th:text="${reservation.dateSlot}">날짜</td>
                                        <td th:text="${reservation.timeSlot.getDetail()}">시간</td>
                                        <td th:text="${reservation.members}">예약 인원 수</td>
                                        <td th:text="${reservation.tables.number}">테이블 번호</td>
                                        <td>
                                            <button class="btn btn-primary" data-target="#orderListModal"
                                                data-toggle="modal" type="button">
                                                주문 리스트
                                            </button>
                                        </td>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> -->

                <div class="container-fluid px-4 mt-3">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            고객 관리
                        </div>
                        <div class="card-body">
                            <table id="datatablesSimple">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Position</th>
                                        <th>Office</th>
                                        <th>Age</th>
                                        <th>Start date</th>
                                        <th>Salary</th>
                                    </tr>
                                </thead>
                                
                                <tbody>

                                    <tr>
                                        <td>Garrett Winters</td>
                                        <td>Accountant</td>
                                        <td>Tokyo</td>
                                        <td>63</td>
                                        <td>2011/07/25</td>
                                        <td>$170,750</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; SWEB</div>
                        <div>
                            &middot;
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
    <script src="js/datatables-simple-demo.js"></script>
</body>

</html>

<!-- <script>
    $(document).ready(function () {
        $(".deleteBtn").click(function () {
            let reservationId = $(this).data("reservation-id");
            if (window.confirm("예약을 삭제하시겠습니까?")) {
                $.ajax({
                    url: "/admin/reservation/delete/" + reservationId,
                    method: "DELETE",
                }).done(function () {
                    alert("삭제완료 했습니다.")
                    window.location.href = '/admin/reservationList';
                }).fail(function () {
                    alert("삭제 실패했습니다.")
                });
            }
        });
    });
</script>

<script>
    document.getElementById('currentDate').value = new Date().toISOString().substring(0, 10);
</script> -->