<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>날짜 체크</h1>
<div>
    <form method="post" role="form" th:action="@{/reservation/date}" th:object="${reservation}">
        <div class="">
            <label>인원수</label>
            <input class="" placeholder="인원수을 입력하세요"
                   th:field="${reservation.members}"
                   type="number">
        </div>

        <div class="">
            <label>날짜</label>
            <input class="" placeholder="날짜를 입력하세요" th:field="${reservation.date}"
                   type="date">
        </div>

        <div class="">
            <label>시간</label>
            <select id="time" name="time">
                <option>시간 선택</option>
                <option value="08:00:00">08 : 00</option>
                <option value="09:00:00">09 : 00</option>
                <option value="10:00:00">10 : 00</option>
                <option value="11:00:00">11 : 00</option>
                <option value="12:00:00">12 : 00</option>
                <option value="13:00:00">13 : 00</option>
                <option value="14:00:00">14 : 00</option>
                <option value="15:00:00">15 : 00</option>
                <option value="16:00:00">16 : 00</option>
                <option value="17:00:00">17 : 00</option>
                <option value="18:00:00">18 : 00</option>
                <option value="19:00:00">19 : 00</option>
                <option value="20:00:00">20 : 00</option>
            </select>

        <button class="" type="submit">확인</button>
    </form>
</div>

</body>
</html>