<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
    <head>
        <link href="main.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Merriweather+Sans:wght@500&display=swap" rel="stylesheet">
        <title> Restaurant main </title>
    </head>
    <body>
        <nav class="navbar">
            <div class="navbar_logo">
                <a href="main.html"><img src="img/LOGO(2).png" alt="LOGO_img" width="100"></a>
            </div>
            <ul class="navbar_menu">
                <li><a href="">About</a></li>
                <li><a href="">Menu</a></li>
                <li><a href="">Reservation</a></li>
            </ul>
            <ul class="navbar_member">
                <li><a href="">LOG-IN</a></li>
                <li><a href="">SING-UP</a></li>
            </ul>
        </nav>
        <section>
            <div class="main_img">
                <img src="img/restaurant2.jpg" alt="main_img" width="100%">
                <h1 class="main_img_text">Welcome to our restaurant!</h1>
            </div>
        </section>
    </body>
</html>