<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
    <head>
        <link href="main.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Merriweather+Sans:wght@500&display=swap" rel="stylesheet">
        <title> Restaurant main </title>
    </head>
    <body>
        <div class="main_site">
            <div class="navbar">
                <div class="navbar_logo">
                    <a href="main.html"><img src="img/LOGO(2).png" alt="LOGO_img" width="100"></a>
                    <!-- SWEB인 이유는... 딱히 없습니다 Software-Engineering B팀이라 SEB 할까하다가 SWEB 했어요 
                    변경 가능!!!!!!! -->
                </div>
                <ul class="navbar_menu">
                    <li><a href="#main_About">About</a></li>
                    <li><a href="">Menu</a></li>
                    <li><a href="">Reservation</a></li>
                </ul>
                <ul class="navbar_member">
                    <li><a href="">LOG-IN</a></li>
                    <li><a href="">SING-UP</a></li>
                </ul>
            </div>
            <div class="main_img_text">
                <h1>Welcome to our Restaurant!</h1>
                <h2></h2>
            </div>
        </div>
        <section class="mainsite_section" id="main_About">
            <div class="About_header">
                <div class="About_text_center">
                    <h2>About</h2>
                    <p>'SWEB' 은 Software-Engineering B팀........</p>
                </div>
            </div>
        </section>
    </body>
</html>