<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div>
    <span>이전 예약</span>
    <table class="">
        <thead>
        <tr>
            <th>날짜</th>
            <th>시간</th>
            <th>예약 인원 수</th>
            <th>테이블 번호</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reservation : ${pastReservations}">
            <td th:text="${reservation.dateSlot}"></td>
            <td th:text="${reservation.timeSlot.detail}"></td>
            <td th:text="${reservation.tables.number}"></td>
            <td th:text="${reservation.members}"></td>
            <br/>
        </tr>
        </tbody>
    </table>
</div>

<div>
    <span>예정된 예약</span>
    <table class="">
        <thead>
        <tr>
            <th>예약 삭제</th>
            <th>예약 수정</th>
            <th>날짜</th>
            <th>시간</th>
            <th>예약 인원 수</th>
            <th>테이블 번호</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reservation : ${futureReservations}">
            <td th:text="${reservation.dateSlot}"></td>
            <td th:text="${reservation.timeSlot.detail}"></td>
            <td th:text="${reservation.tables.number}"></td>
            <td th:text="${reservation.members}"></td>
            <br/>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>