<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Title</title>
    <link rel="stylesheet" href="/css/mainPage.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main_site">
        <nav>
            <div class="navbar">
                <div class="navbar_logo">
                    <a href="/"><img src="/img/LOGO(1).png" alt="LOGO_img" width="100"></a>
                </div>
                <ul class="navbar_menu">
                    <li><a href="#main_About">About</a></li>
                    <li><a href="#main_Menu">Best Menu</a></li>
                    <li><a href="#main_Reservation">Reservation</a></li>
                    <li><a href="#main_Location">Location</a></li>
                    <li><a  th:href="@{/customer/{id}/info(id=${id})}">MyPage</a></li>
    
                </ul>
                <ul class="navbar_member" >
                    <li class="himember"><a th:text="|안녕하세요! ${user.name}님|" >환영문구</a></li>
                    <li><a class="" th:href="@{/login/logout}" >LOG-OUT</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="main_img_text">
        <h1>Welcome to our Restaurant!</h1>
        <h2></h2>
    </div>
    <div>
        <ul class="content">
            <li>
                <section class="mainsite_section" id="main_About">
                    <div class="About_header">
                        <div class="About_text_center">
                            <h2>About</h2>
                            <hr>
                        </div>
                        <div class="team_icon" id="icon">
                            <img src="/img/team_icon.png" width="150px">
                            <div class="team_icon_caption">
                                <h4>Introduce SWEB</h4>
                                <p>SWEB 이란 Software-Engineering team B 라는 뜻의 퓨전 레스토랑입니다</p>
                            </div>
                        </div>
                        <div class="dish_icon" id="icon">
                            <img src="/img/dish_icon.png" width="150px">
                            <div class="dish_icon_caption">
                                <h4>Best Service</h4>
                                <p>SWEB은 항상 최고의 서비스로 고객을 모십니다</p>
                            </div>
                        </div>
                        <div class="food_icon" id="icon">
                            <img src="/img/food_icon.png" width="150px">
                            <div class="food_icon_caption">
                                <h4>Fresh Food</h4>
                                <p>SWEB은 신선한 식재료로 고객님들의 입안을 즐겁게 합니다</p>
                            </div>
                        </div>
                    </div>
                </section>
            </li>
            <li>
                <section class="mainsite_section" id="main_Menu">
                    <div class="Menu_header">
                        <div class="Menu_text_center">
                            <h2>Best Menu</h2>
                            <hr>
                            <div class="steak">
                                <img src="/img/8.jpg" width="450px">
                                <div class="steak_caption">
                                    <h3>Steak</h3>
                                    <p>~~~~</p>
                                </div>
                            </div>
                            <div class="pasta">
                                <img src="/img/7.jpg" width="450px">
                                <div class="pasta_caption">
                                    <h3>Pasta</h3>
                                    <p>~~~~</p>
                                </div>
                            </div>
                            <br>
                            <div class="salad">
                                <img src="/img/6.jpg" width="450px">
                                <div class="salad_caption">
                                    <h3>Salad</h3>
                                    <p>~~~~</p>
                                </div>
                            </div>
                            <div class="tart">
                                <img src="/img/4.jpg" width="450px">
                                <div class="tart_caption">
                                    <h3>Tart</h3>
                                    <p>~~~~</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </li>
            <li>
                <section class="mainsite_section" id="main_Reservation">
                    <div class="Reservation_header">
                        <div class="Reservation_text_center">
                            <h2>Reservation</h2>
                            <hr>
                            <button type="button"><a class="" th:href="@{/customer/{id}/date(id=${id})}">사전 예약</a></button>
                            <p style="padding-top: 50px;">SWEB만의 사전 예약 서비스를 통해 웨이팅 없이 레스토랑을 즐겨보세요!</p>
                        </div>
                    </div>
                </section>
            </li>
            <li>
                <section class="mainsite_section" id="main_Location">
                    <div class="Location_header">
                        <div class="Location_text_center">
                            <h2>Location</h2>
                            <hr>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18604.984913064214!2d127.01634880846777!3d37.30026454018563!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b5c9c1e337b5b%3A0x437f7735e290ec4d!2z6rK96riw64yA7ZWZ6rWQ!5e0!3m2!1sko!2skr!4v1684722069125!5m2!1sko!2skr" width="600" height="450" style="border:0; margin-top: 50px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </section>
            </li>
        </ul>
    </div>
    <footer>
        <P>2023 © SWEB. All Rights Reserved.</P>
        <div class="footer_icon">
            <a href="https://github.com/Se-Engineering-2023-kgu/termProject-main" target="_blank"><img src="/img/github_icon.png" width="30px"></a>
        <a href="https://heather-baryonyx-5f6.notion.site/K-Scrum-efe8e127bb6147b1b667e96b0cd90f55" target="_blank"><img src="/img/notion_icon.png" width="30px"></a>
        </div>
    </footer>
</body>
</html>