<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/customerInfo.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="/css/customerInfo.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

    <title>My Page</title>
</head>
<body>
<input id="customerId" th:value="${id}" type="hidden"/>

<div class="wrap">
    <div class="mypage">
        <div class="user">
            <img src="/img/user_icon.png" style="margin-top: 30px;" width="100px">

        </div>
        <div>
            <table class="before_res">
                <caption th:text="|이전 예약 : ${pastResrvationsSize}|">이전 예약</caption>
                <thead>
                <tr>
                    <th>날짜</th>
                    <th>시간</th>
                    <th>예약 인원 수</th>
                    <th>테이블 번호</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="reservation : ${pastReservations}">
                    <td th:text="${reservation.dateSlot}"></td>
                    <td th:text="${reservation.timeSlot.detail}"></td>
                    <td th:text="${reservation.tables.number}"></td>
                    <td th:text="${reservation.members}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <table class="scheduled_res">
                <caption>예정된 예약</caption>
                <thead>
                <tr>
                    <th>예약 삭제</th>
                    <th>예약 수정</th>
                    <th>날짜</th>
                    <th>시간</th>
                    <th>테이블 번호</th>
                    <th>예약 인원 수</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="reservation : ${futureReservations}">
                    <td>
                        <button class="deleteBtn" th:data-reservation-id="${reservation.reservationID}" type="button">
                            삭제
                        </button>
                    </td>
                    <td>
                        <a class="modifyBtn"
                           role="button"
                           th:href="@{/customer/{customerId}/reservation/{reservationId}/edit(customerId=${id},reservationId=${reservation.reservationID})}">
                            수정
                        </a>
                    </td>
                    <td th:text="${reservation.dateSlot}"></td>
                    <td th:text="${reservation.timeSlot.detail}"></td>
                    <td th:text="|${reservation.tables.number}번|"></td>
                    <td th:text="|${reservation.members}명|"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
    </div>
</div>
</body>
</html>
<script>
    $(document).ready(function () {
        $(".deleteBtn").click(function () {
            let reservationId = $(this).data("reservation-id");
            let customerId = $("#customerId").val();
            if (window.confirm("예약을 삭제하시겠습니까?")) {
                $.ajax({
                    url: "/customer/reservation/" + reservationId + "/delete",
                    method: "DELETE",
                }).done(function () {
                    alert("삭제완료 했습니다.")
                    window.location.href = '/customer/' + customerId + '/info';
                }).fail(function () {
                    alert("삭제 실패했습니다.")
                });
            }
        });
    });
</script>

<script>
    // $(document).ready(function () {
    //     $(".modifyBtn").click(function () {
    //         let reservationId = $(this).data("reservation-id");
    //         let customerId = $("#customerId").val();
    //         if (window.confirm("예약을 수정하시겠습니까?")) {
    // $.ajax({
    //     url: "/customer/reservation/" + reservationId + "/delete",
    //     method: "DELETE",
    // }).done(function () {
    //     alert("삭제완료 했습니다.")
    //     window.location.href = '/customer/' + customerId + '/info';
    // }).fail(function () {
    //     alert("삭제 실패했습니다.")
    // });
    //     }
    // });
    // });
</script>

