<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>customer 회원가입</h1>
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>
<div>
    <form method="post" th:action="@{/customer/register}" th:object="${customer}">
        <div>
            <label for="loginId">Login ID:</label>
            <input id="loginId" th:field="*{loginId}" type="text"/>
        </div>
        <div>
            <label for="loginPwd">Login Password:</label>
            <input id="loginPwd" th:field="*{loginPwd}" type="password"/>
        </div>
        <div>
            <label for="name">Name:</label>
            <input id="name" th:field="*{name}" type="text"/>
        </div>
        <div>
            <label for="phoneNumber">Phone Number:</label>
            <input id="phoneNumber" th:field="*{phoneNumber}" type="text"/>
        </div>
        <div>
            <label for="email">Email:</label>
            <input id="email" th:field="*{email}" type="text"/>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>